@{
    ViewBag.Title = "Confirm";
}
<style>
    .inf {
        display: flex;
    }

    .Myimg {
        margin-top: 10px;
        object-fit: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    table {
        margin-left: 20px;
    }
</style>
<h2><b>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</b></h2>

<div class="inf">
    <img class="MyImg" src=@ViewBag.empAvatar />
    <table>
        <tr>
            <td><strong>Mã nhân viên:</strong></td>
            <td>@ViewBag.empID</td>
        </tr>
        <tr>
            <td>Họ tên: </td>
            <td>@ViewBag.empName</td>
        </tr>
        <tr>
            <td>Ngày sinh: </td>
            <td>@ViewBag.empDateOfBirth</td>
        </tr>
        <tr>
            <td>Email </td>
            <td>@ViewBag.empEmail</td>
        </tr>
        <tr>
            <td>Mật khẩu : </td>
            <td>@ViewBag.empPassword</td>
        </tr>
        <tr>

            <td>Đơn vị : </td>
            <td>@ViewBag.empDivision</td>
        </tr>
        <tr>
            <td> @Html.ActionLink("Quay lại", "Index")</td>
            <td></td>
        </tr>
    </table>
</div>